.cart {
  width: 35%;
  margin: 10rem auto;
  padding: 2rem 1rem;
  background: #313131;
  color: #fff;
  border-radius: 8px;
  animation: slide-down 600ms ease-out forwards;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart .cart--description {
  background-color: #575757;
  padding: 1.5rem 1rem;
}

.cart--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.cart--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart--actions button {
  padding: 0.25rem 1rem;
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0.3rem;
}

.cart--actions button:hover {
  background: #4b4b4b;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
