.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  background: #252424;
  color: #fff;
}

.header h2 {
  font-size: 2rem;
  font-weight: bold;
}
