.header--cart {
  padding: 0.7rem 3rem;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #1ad1b9;
  color: #1ad1b9;
  font-size: 1rem;
  cursor: pointer;
}

.header--cart:hover {
  background: #fff;
}

.header--cart .badge {
  margin-left: 1rem;
  font-weight: bold;
  background: #1ad1b9;
  border-radius: 25px;
  padding: 0.25rem 1rem;
  color: #1d1d1d;
}
